* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: rgb(240, 236, 20);
    height: auto;
}
.wrapper {
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    height: 100%;
}
.slider {
    width: 100%;
    overflow: hidden;
    border: thick solid rgb(0, 0, 0);
    border-radius: 5%;
    background-color: black;
    height: auto;
}
.slides {
    width: 400%;
    max-height: 100%;
    display: flex;
}
.slide {
    width: 25%;
    height: auto;
}
.slide img {
    width: 100%;
    height: auto;
}

.txt-slide {
    height: 100%;
    width: 25%;
    font-size: 2rem;
}
.txt-slider {
    width: 75%;
    overflow: hidden;
}
.txt-slides {
    width: 400%;
    height: 2rem;
    display: flex;
}
.s1 {
    transition: .5s ease-in-out;
}
.controls {
    width: 25%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    height: 2rem;
}
.ctrl {
    width: 25%;
    height: 100%;
}
.bar {
    display: block;
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    cursor: pointer;
    margin: 5%;
    padding: 5%;
    background-color: rgb(240, 236, 20);
    border: 3px solid black;
    transition: all .3s ease;
    margin: 25% auto;
}
.bar:hover {
    opacity: 0.8;
    transform: scale(1.1);
    background-color: rgb(68, 66, 62);
}
.bar:active {
    background-color: green;
}
input[name="control"] {
    display: none;
}
#r1:checked ~ .wrapper .slider .slides .s1 {
    margin-left: 0;
}
#r2:checked ~ .wrapper .slider .slides .s1 {
    margin-left: -25%;
}
#r3:checked ~ .wrapper .slider .slides .s1 {
    margin-left: -50%;
}
#r4:checked ~ .wrapper .slider .slides .s1 {
    margin-left: -75%;
}
#r1:checked ~ .wrapper .txt-slider .txt-slides .s1 {
    margin-left: 0;
}
#r2:checked ~ .wrapper .txt-slider .txt-slides .s1 {
    margin-left: -25%;
}
#r3:checked ~ .wrapper .txt-slider .txt-slides .s1 {
    margin-left: -50%;
}
#r4:checked ~ .wrapper .txt-slider .txt-slides .s1 {
    margin-left: -75%;
}
#r1:checked ~ .wrapper .controls #bar1,
#r2:checked ~ .wrapper .controls #bar2,
#r3:checked ~ .wrapper .controls #bar3,
#r4:checked ~ .wrapper .controls #bar4 {
    background-color: black;
    border-color: rgb(68, 66, 62);
}
